*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent{
    height: 100%;
    width: 100%;
  
}
.heading{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #7ee8fa;
    font-size: xx-large;
    border-bottom: 1px solid  #eec0c6;
}
.desc{
    margin-top: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #eec0c6;
}
