.carousel{
  margin-top: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid  #eec0c6;

}
.bgColor{
  background-color:#7ee8fa ;
  background-image:linear-gradient(-90deg,#7ee8fa, #eec0c6);
  color:white;
}

.carouselImg{
  width:100%;
  height: 300px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
   border-radius: 30px;
}
.albumDetails{
  width:100%;
  height: 300px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
border: 10px solid rgba(255, 255, 255, 0.822);


}
.albumText{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  color: #7ee8fa;
}

.heading{
display: flex;
align-content: center;

margin-left: 10px;

}
